[submodule "linux/.emacs.d/site-lisp/sly"]
	path = linux/.emacs.d/site-lisp/sly
	url = https://github.com/joaotavora/sly
[submodule "linux/.emacs.d/site-lisp/lispy"]
	path = linux/.emacs.d/site-lisp/lispy
	url = https://github.com/abo-abo/lispy
